/*==========  GLOBAL  ==========*/
.clear{ clear: both; }
strong{ display: block; }
.navbar img{
  width: 25px;
  vertical-align: text-bottom;
}
table{ margin-top: 20px; }

/*==========  INDEX  ==========*/
.cat-btn{
  text-align: center;
}
.badge-secondary{
  position: absolute;
  top: 22px;
  left: 130px;
  background: rgb(19,131,222);
}
a>h4{
  margin: 10px 5px 10px -20px;
}
.card-block>.badge-danger{
  margin-top: 5px;
  width: 30px;
  font-size: 20px;
}
.btn-outline-success{
  padding: 5px;
  height: 40px;
}
a[href="blog.html"],
a[href="../blog/blog.html"]{
  position: relative;
  margin-right: 10px;
}
a[href="blog.html"]>.badge-danger,
a[href="../blog/blog.html"]>.badge-danger{
  position: absolute;
  top: 12px;
  left: 42px;
}
/*==========  BLOG  ==========*/
.blog{
	border: 1px solid #BCB6B6;
	border-radius: 10px;
	box-shadow: 2px 2px 5px #A9A9A9;
	padding: 20px;
}
.blog-img{ width: 350px; margin-bottom: 20px; }
.blog-btn a{
	color: #fff;
	text-decoration: none;
}
.blog-h2{
	font-size: 76px;
	float: left;
}
.cat-png{
  width: 70px;
  vertical-align: baseline;
}
.cat-png{
  width: 70px;
  vertical-align: baseline;
  margin-right: -10px;
}
.buttons{ margin-top: 20px; }
.buttons a{
	color: #fff;
	text-decoration: none;
}
.blog-date{
	margin-top: 15px;
	float: right;
	color: #868282;
}
/*==========  NOVI  BLOG  ==========*/
.new-blog{
	width: 100%;
	border: 1px solid #bababa;
	margin: 20px 0;
	border-radius: 10px;
	padding: 15px;
}
.blog-preview{
	border: 3px dotted #bababa;
	margin: 20px 0;
	border-radius: 10px;
	padding: 15px;
}
.blog-img p{
	margin-bottom: 5px;
	color: #8D8C8C;
}
.new-blog-h1{	margin: 25px auto 15px auto; }
input[placeholder="naslov..."]{
	margin-top: 20px;
	float: right;
	border-radius: 3px;
	display: inline;
	width: 200px;
}
input[type="file"]{
	margin-bottom: 20px;
	color: #8D8C8C;
	text-transform: lowercase !important;

}
.new-blog textarea{
	width: 100%;
	resize: both;
	margin-bottom: 15px;
}
.date-picker{	float: right; }
/*==========  EDIT  BLOG  ==========*/
.single-blog p{ margin-top: 20px;}
.card{ margin-bottom: 20px; width: 100%; }
.card-header span:nth-of-type(1){  float: left; }
.card-header span:nth-of-type(2){ float: right; }
.single-blog img{ border-radius: 10px; width: 500px; margin-top: 15px;}
#komentar input[type='text']{ margin: 0 0 10px 0; }
.single-blog button{ float: right; margin-left: 5px; }
.single-blog{
  background: #F5F5F5;
  margin: 20px 0;
  padding: 20px;
  border-radius: 10px;
}
.single-blog h1{
  margin: 10px 0 15px 0;
  text-align: left;
  color: #000000;
}
.datum{
  color: #9A9999;
  font-size: 15px;
}
.new-comment{
	font-size: 15px;
	height: 25px;
	margin: 7px 0 0 5px;
}
